:root {
  font-size: min(6vw, 6vh);
  --main-width: 16em;
  --toggle-size: 0.5em;
  --widget-size: calc(var(--main-width) - var(--toggle-size));
  --disclosure-size: 1em;
  --settings-size: calc(var(--main-width) - var(--disclosure-size));
  --font: serif;
  --tab-radius: 0.125em;
  --hilite: #ff9;
}

body {
  margin: 0;
  background-color: #000;
  color: #fff;
}

* {
  font-family: var(--font);
}

#root {
  width: var(--main-width);
  margin: 0 auto;
  text-align: center;
  background-color: #111;
}

h1 {
  /* margin: 0; */
}

label { /* toggleAdd | settings | no shared letters */
  display: block;
}

/* TABS // TABS // TABS // TABS // TABS // TABS  */

ul.tabs {
  display: flex;
  justify-content: space-evenly;
}

.tabs li {
  border: 1px solid #999;
  border-top-right-radius: var(--tab-radius);
  border-top-left-radius: var(--tab-radius);
  background-color: #333;
  flex: 1;
  display: flex;
  justify-content: center;
}

.tabs li.selected {
  border-color: #fff;
  border-bottom: none;
  background-color: transparent;
}

/* PLAYERS // PLAYERS // PLAYERS // PLAYERS */

label[for=toggleAdd]{
  position: relative;
  display: flex;
  flex-direction: row-reverse;
  /* Prevent clicks other than checkbox and span from toggling checkbox */
  pointer-events: none;
}

/* ADD A NEW PLAYER // ADD A NEW PLAYER */

/* Toggle checkbox and span */
span.toggle { /* [+] | [–] span */
  display: inline-block;
  font-size: 0.5em;
  width: 1em;
  height: 1em;
  border: 1px solid #fff;
  flex-shrink: 0;
  box-sizing: border-box;
}

#toggleAdd,
#toggleAdd:checked + span {
  position: absolute;
}

#toggleAdd + span::after{
  content: "–";
  pointer-events: all;
  
}

#toggleAdd:checked + span::after{
  content: "+"
}

#toggleAdd:checked ~ div {
  display: none;
}

/* New player input */
.addWidget {
  width: var(--widget-size);
  display: flex;
}

.addWidget input,
.addWidget button{
  pointer-events: all;
  font-size: 1em;
}

#addPlayer {
  width: 0; /* Must be set if flex:1 is to work*/
  flex: 1;
}

/* PLAYER NAMES // PLAYER NAMES // PLAYER NAMES */

ul {
  list-style-type: none;
  margin: 0.5em 0;
  padding: 0;
}

.players ul {
  overflow-y: auto;
  max-height: 8.1em;
}

.players li {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.players li.selected {
  background-color: var(--hilite);
  color: #000;
}

.players .name {
  flex: 1; /* Fill width left by level and ✕ button */
  text-align: left;
  padding-left: 0.25em;
}

.players .level {
  width: 3em;
}

button.delete {
  margin: 0;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 0.2em;
  color: #999;
  width: 1.5em;
  height: 1.5em;
  font-size: 0.66667rem;
}

button.delete:hover {
  border-color: #f00;
  color: #f00;

}

/* PLAYER SETTINGS // PLAYER SETTINGS */

.settings {
  display: flex;
  align-items: flex-start;
}

fieldset {
  display: block;
  text-align: left;
  width: var(--settings-size);
  padding: 0.25em;
}

#settings:checked ~ fieldset {
  display: none;
}

#settings, #toggleAdd {
  position: absolute;
  opacity: 0.2;
  left: -9999px;
}

#settings + span.collapse {
  position: relative;
  top: -0.25em;
  width: var(--disclosure-size);
  height: var(--disclosure-size);
}

#settings + span.collapse::after {
  content: "ᐁ"
}

#settings:checked + span.collapse::after {
  content: "ᐅ"
}

#settings ~ span.show {
  display: none;
}

#settings:checked ~ span.show {
  display: block;
}

.show {
  font-size: 0.5em;
  line-height: 2em;
}

.settings .level {
  display: flex;
  align-items: center;
  /* margin-bottom: 0.5em; */
}

/* Align Level with [ ] No shared letters */
.level span {
  margin-right: 0.25em;
}

.range {
  position: relative;
  height: 1em;
  width: 0;
  flex: 1;
  background-color: #999;
}

.slider {
  position: absolute;
  left: 45%;
  height: 100%;
  width: 11.11111%;
  background-color: #ccc;
}

#number {
  font-size: 0.7em;
  width: 3em;
  height: 1em;
  padding: 0.15em 0;
  /* box-sizing: border-box; */
}

/* No shared letters */
#noSharedLetters {
  margin-left: 0;
}

/* PLAYER // PLAYER // PLAYER // PLAYER // PLAYER */

.player {
  position: relative;
  box-sizing: border-box;
  border: 2px solid #ccc;
  width: 100%;
  margin: 0.5em 0;
  padding: 0.5em;
}

ul.words, .cue{
  text-transform: uppercase;
  margin: 0.5em 0;
}

.cue {
  display: flex;
  justify-content: space-between;
}

.cue li {
  display: inline-block;
  width: 3em;
  /* background-color: #666; */
}

.cue li:nth-child(3) {
  color: var(--hilite);
}

ul.words .score,
ul.words .deltas {
  display: inline-block;
  width: 2em;
  /* background-color: #333; */
}


li {
  display: flex;
  justify-content: space-between;
}

button.generate {
  font-size: 1em;
}

.unselectable {
  -webkit-user-select: none; /* Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}


label[for=findDeltas] * {
  font-size: 1em;
}

#findDeltas {
  width: 10em;
}


h3 {
  color: #999;
}

h3 span {
  color: #fff;
}


.deltas {
  display: flex;
  flex-wrap: wrap;
}

.deltas li {
  display: inline-block;
  width: 33%;
  text-align: center;
}

p {
  margin: 0
}

.search {
  text-transform: uppercase;
}